{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-4">Add Travel Destination</h1>
            <p class="lead">Help Your Clients Explore New Destinations</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Destination Details</h5>
                    <p class="card-text">Enter the country and details of the travel destination below.</p>
                    {{ render_form(form) }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
